body h1 {
	text-align: center;	 
}
.container {
	background-color: rgba(157, 157, 157, 0.27);
	padding: 50px;
}
.wrapper {
	background: rgba(49, 112, 143, 0.57);
	padding: 10px;
}
.contact-item {

}

#principal-dates {
	background-color: white;
	padding: 10px;
}
#secundary-dates {
	color: white;
	padding: 10px;
}
hr {
	width: 100%;
	height: 10px;
	background-color: red;
}

#addContact {
	/*justify-content: center;
	aling-items: center;
	margin-right:auto;*/	
}